@charset "UTF-8";
/* CSS Document */
.section-qa__description dt {
    position: relative;
    cursor: pointer;
    transition: all .5s ease;
  }

  .section-qa__description dt::before, .section-qa__description dt::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #cfa365;
  }
  .section-qa__description dt::before {
    top: 12px;
    right: 5px;
    transform: rotate(0deg);
  }
  .section-qa__description dt::after {
    top: 12px;
    right: 5px;
    transform: rotate(90deg);
  }
 
  .section-qa__description dt.close::before {
    transform: rotate(45deg);
  }
  .section-qa__description dt.close::after {
    transform: rotate(-45deg);
  }
@media(min-width: 1040px) {
  .section-qa__description dt {
    position: relative;
    cursor: pointer;
    transition: all .5s ease;
  }
  .section-qa__description dt::before, .section-qa__description dt::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #cfa365;
  }
  .section-qa__description dt::before {
    top: 12px;
    right: 20px;
    transform: rotate(0deg);
  }
  .section-qa__description dt::after {
    top: 12px;
    right: 20px;
    transform: rotate(90deg);
  }
  .section-qa__description dt.close::before {
    transform: rotate(45deg);
  }
  .section-qa__description dt.close::after {
    transform: rotate(-45deg);
  }
}